<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>X Conservatives United</title>
  <link rel="stylesheet" href="/css/style.css">
  <%- include('partials/head') %> <!-- if you want -->
</head>
<body>
  <nav>…</nav>
  <%- body %>
</body>
</html>